.img-card-wrapper {
  width: 16rem;
  height: 13rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 4px 6px 19px -5px rgba(0, 0, 0, 0.75);
  position: relative;

  img {
    background-size: cover;
    width: 18rem;
    height: 15rem;
  }
}

  .sale-card__info {
    background-color: #fff;
    position: relative;
    padding: 10px;
    width: 14.5rem;
    margin-top: -30px;
    border-radius: 5px;
    box-shadow: 2px 3px 10px -5px rgba(0, 0, 0, 0.5);


  }

  .sale-card__info-position {
    width: 14.5rem;
    padding-left: .7rem;
    padding-right: .7rem;
  }