@import './styles/reset.scss';
@import './styles/vars.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font-family;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
